  
body {
    margin:0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(RoyalBlue, DodgerBlue, CornflowerBlue, DeepSkyBlue, LightSkyBlue );
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  
  }
  section.gameBoard{
    display: grid; 
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-gap: 1vmin;
    border: 1px solid gray;
    padding: 21px;
    margin-bottom: 10vmin;
    background:MediumBlue;
  }
  
  section.gameBoard > div{ 
    border-radius:50%;
    border:1px solid blue;
  }
  section.columnSelector{
    display: grid; 
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    /* height: 10vmin; */
    grid-gap: 1vmin;
  }
  section.columnSelector > div{ 
    border-top: 6vmin solid rgba(53, 50, 154, 0.878);
    border-left: 5vmin solid transparent;
    border-right: 5vmin solid transparent;
    margin-bottom: 5px;
  }
  section.columnSelector  div:hover{
    border-top-color: pink;
  }
  
  /* *{
    box-sizing: border-box;
    
}
body{
    
    height: 100vh;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
  
    display: flex;
    flex-direction: column; 

    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(RoyalBlue, DodgerBlue, CornflowerBlue, DeepSkyBlue, LightSkyBlue )
} 



body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }
  .container{
    padding: 20px;
    display: grid;
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    background-color: MediumBlue;
  }
   .empty{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
  }
 */
