*{
    box-sizing: border-box;
    /* this helps us cisualize all of our elements */
}
/* setting up reset for the CSS  */
body{
    /* will use the view port to set that up that will take up th screen size this will allow us to make our body centered. */
    height: 100vh;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column; 
    /* lays out things vertically instead of horizontally */
    justify-content: center; 
    align-items: center; 
}

/* Every element here is a box */
section{
    display: grid; 
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-gap: 2vmin;
    border: 1px solid black;
    padding: 21px;
    background: blue;
}
/* selecting specifi divs withing specific area */
section div{
    border-radius: 50%;
    border: 1px solid pink;
    background: white;
}